.menu__item:hover {
  cursor: pointer;
}

.menu__item:last-child {
  align-items: center;
  background-color: transparent;
  border: 0 none;
  display: flex;
  font-family: "Fraunces", sans-serif;
  font-size: 16px;
  justify-content: center;
  left: 7px;
  height: 55px;
  position: relative;
  text-transform: uppercase;
  top: -16px;
  width: 140px;
}

.menu__item:last-child::before {
  background-color: var(--branco);
  border-radius: 30px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.menu__item:last-child:hover {
  cursor: pointer;
  color: var(--branco);
}

.menu__item:last-child:hover::before {
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .menu__item:last-child::before {
    background-color: var(--amarelo);
  }
}
