.cabecalho {
  display: flex;
  justify-content: space-between;
  height: 100px;
  position: relative;
  z-index: 100;
}

.logo {
  height: 2.1rem;
  width: 10.6rem;
  position: relative;
  top: 2.9rem;
  left: 2.5rem;
}
