.conteudo {
  display: grid;
  grid-area: conteudo;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "conteudo conteudo"
    "conteudo conteudo"
    "conteudo conteudo";
  position: relative;
  top: 43.7rem;
}






