.depoimentos {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 48.5rem;
  position: relative;
  top: 43.6rem;
}

.depoimentos::before {
  background-color: var(--azul-acizentado);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.depoimentos__titulo {
  color: var(--azul-acizentado-escuro);
  font-family: "Fraunces", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 10rem;
  text-transform: uppercase;
  word-spacing: 5px;
}
